:root {
  font-family:
    'Poppins',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
}
